.buttons {
  display: flex;
  justify-content: space-evenly;
}
.field {
  margin-top: 21vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.toggleLable {
  grid-area: 1 / 1 / 2 / 2;
}

.buttons {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 5rem;
}
