.payment-deatils-card {
  width: 80vw;
}

.payment-card {
  width: 30vw;
  text-align: center;
  margin: auto;
  max-height: max-content;
    padding: 20px;
    height: 300px;
    overflow-y: scroll;
}
