
.tabs.is-centered{
    ul{
        li.is-active{
            a{
                border-color: red;
            }
        } 
    } 
}
.card {
    background-color: #f5f5f5;
}

.card-content{
    background-color: white;
}
.auth-button{
    background-color: #3CE794;
}