.table-header{
    display: flex;
    justify-content: space-between;
}
tr{
    text-align: left;
}

.table.is-hoverable {
    table{
        color: #f5f5f5;
    }
    tbody {
        tr {
            &:hover {
                background-color: #f5f5f5;
                cursor: pointer;
            }

            &:active {
                background-color: #e6e6e6;
            }
        }
    }
}

.card{
    background-color: #f5f5f5;
}