.gradient-bg {
    background: linear-gradient(90deg, #D9D9D9 0%, #D9D9D9 0%, #0CED81 0.01%, #09E294 0.01%, #09E294 13.14%, #00C1CD 52.57%);
}

.align {
    display: flex;
    justify-content: space-between;
}

.big-logo{
    display: flex;
    align-items: center;
    justify-content: left;
}

.logo{
    width: 20vw;
}
