.control1{
    
    margin-left: 225px;
    width: 350px;
    margin-bottom: 30px;
    margin-top: 6px;
}

.label1{
    font-weight: bold;
    margin-left: 225px;
    
    
}

.t1{
    margin-bottom: 30px;
}
